<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>

<table mat-table [dataSource]="dataSources" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>username</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- <table border="1" cellpadding="5" cellspacing="5" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataSource of dataSources">
        <td>{{ dataSource.id }}</td>
        <td>{{ dataSource.name }}</td>
        <td>{{ dataSource.username }}</td>
        <td>{{ dataSource.email }}</td>
      </tr>
    </tbody>
  </table> -->
